@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #0f0f1a;
  color: white;
  font-family: Inter, sans-serif;
}

/* CUSTOM SCROLLBAR */

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d8c7ff;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c084fc;
}